.contacts{
    position: relative;
    height: auto;
    z-index: 1;
    background-image: url(/img/map.png);
    .container{
        position: relative;
        color: #333333;
        font-weight: 400;
        font-size: 18px;
        height: 650px;
    }
    &__block {
        top: 130px;
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        box-shadow: 0px 14px 30px rgb(0 0 0 / 10%);
        padding: 40px;
        max-width: 560px;
        position: relative;
        z-index: 10;
    }
}
.data{
    &__row{
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: 19px;
    }
}