.footer{
    color: #fff;
    background-color: #2F414F;
    padding-top: 40px;
    &__row{
        display: flex;
        font-size: 18px;
        margin-bottom: 10px;
        justify-content: space-between;
    }
    &__col{
        a{
            text-decoration: none;
            color: #fff;
        }
        &_title{
            font-weight: bold;
            font-size: 24px;
            color: #fff;
        }
    }
    .footer__col:first-child {
       width: 25%;
       @media (min-width: 1024px){
          margin-right: 40px;
       }
    }
    .footer__col:not(:first-child) {
        margin-top: 8px;
        width: 25%;
    }
    &__bottom {
        padding-top: 45px;
        padding-bottom: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}