@import "_mixins";
@import "fonts";

body {
    padding: 0;
    margin: 0;
    @media (min-width: $breakpoint-md) {
        flex: 0 1 calc(33.333% - (60px + 45 * (100vw - 320px) / 950) / 3);
    }
}
*,
*::before,
*::after {
    font-family: Montserrat;
    line-height: 1;
    outline: none;
    box-sizing: border-box;
    font-weight: normal;
}
.container {
    max-width: 1270px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DB2F09;
    border: 2px solid #DB2F09;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-top: 18px;
    text-decoration: none;
    padding-bottom: 18px;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
    width: 283px;
    
    @media (max-width: 1270px){
        width: calc(150px + 133 * ((100vw - 320px) / 950));
        padding-bottom: calc(15px + 3 * ((100vw - 320px) / 950));
        padding-top: calc(15px + 3 * ((100vw - 320px) / 950));
        line-height: calc(16px + 6 * ((100vw - 320px) / 950));
        font-size: calc(14px + 4 * ((100vw - 320px) / 950));
    }
}
._flex{
    display: flex;
}
section:not(.map, .first-block--contact, ._not-margin) {
    margin-bottom: 80px;
}

main{
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    section {
        align-items: left;
        justify-content: center;
        .box{
            max-width: 1230px;
            width: 100%;
            @include container_adpative;
        }
    }
}
._backgroundimg{
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center; 
}
._title{
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    max-width: 705px;
    margin-top: 0;
    @media screen and (max-width: $breakpoint-lg) {
        line-height: calc(29px + 30 * ((100vw - 320px) / 950));
        font-size: calc(25px + 23 * ((100vw - 320px) / 950));
        margin-bottom: calc(45px + 15 * ((100vw - 320px) / 950))
    }    
}