.item-news{
    background: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0px 14px 30px rgb(0 0 0 / 10%);
    flex: 0 1 calc(33.333% - (40px + 30 * (100vw - 320px) / 950) / 3);
    max-width: 390px;
    padding: 30px;
    font-size: 16px;
    color: #333333;
    @media (max-width: 1270px){
        font-size: calc(14px + 2 * ((100vw - 320px) / 950));
        padding: calc(15px + 15 * ((100vw - 320px) / 950));
        flex: 0 1 calc(50% - (40px + 30 * (100vw - 320px) / 950) / 2);
    }
    @media (max-width: 768px){
        flex: 1 1 100%;
    }
    &__title{
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 8px;
        color: #333333;
    }
    &__date{
        line-height: 20px;
        margin-bottom: 15px;
        color: #b0b0b0;
    }
    &__img{
        width: 100%;
        height: auto;
        margin-bottom: 16px;
    }
    &__desc {
        line-height: 150%;
        margin-bottom: 46px;
        @media(max-width: $breakpoint-lg){
            margin-bottom: calc(20px + 26 * ((100vw - 320px) / 950));
        }
    }
    &__end {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_btn{
            background-color: #fff;
            max-width: 160px;
            max-height: 52px;
            color: #000;
        }

    }
}

.news{
    .container{
        padding-bottom: 30px;
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 30px;
        @media (max-width: $breakpoint-lg){
            justify-content: center;
            margin-bottom: calc(20px + 10 * ((100vw - 320px) / 950));
            gap: calc(20px + 10 * ((100vw - 320px) / 950));
        }
    }
    &__item{
        min-height: 155px;
    }
    
}